---
import { getEntries, getCollection } from "astro:content";
import Wrapper from "../../components/wrapper.astro";
import ContentWrapper from "../../components/content.astro";
import Navigation from "../../components/navigation.astro";
import Tag from "../../components/tag.astro";
import { Image } from "astro:assets";
import ContactForm from "../../components/contactForm.astro";

export const prerender = true;

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { post: entry },
  }));
}

const { post } = Astro.props;

const { Content } = await post.render();

const authors = await getEntries(post.data.authors);
const tags = await getEntries(post.data.tags);
---

<Wrapper post={post}>
  <Navigation />
  <ContentWrapper>
    <div class="mb-6">
      <span class="font-bold">Blog</span>&nbsp;<span class="font-thin text-sm"
        >Published on {new Date(post.data.date).toDateString()}</span
      >
    </div>
    <h1 class="font-playfair text-5xl md:text-6xl">{post.data.title}</h1>
    <p class="">
      By&nbsp;{
        authors.map((author) => <span class="mr-2">{author.data.name}</span>)
      }
    </p>
    <div class="flex flex-wrap my-4">
      {
        tags.map((tag) => (
          <Tag color={tag.data.color} slug={tag.slug}>
            {tag.data.name}
          </Tag>
        ))
      }
    </div>
    <div class="mt-6">
      <Image
        width={900}
        height={514}
        src={post.data.image}
        alt={post.data.description}
      />
    </div>
    <Content />
    <ContactForm />
  </ContentWrapper>
</Wrapper>
