---
let hasSubmitted = false;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const first = data.get("first");
  const last = data.get("last");
  const phone = data.get("phone");
  const email = data.get("email");
  const message = data.get("message");
  const service = data.get("service");

  const sendgridData = {
    personalizations: [
      {
        to: [
          {
            email: "kevin@robo-house.com",
          },
        ],
      },
    ],
    from: {
      email: "contact@robo-house.com",
    },
    subject: "Robo House: Contact Form Submission",
    content: [
      {
        type: "text/plain",
        value: `
        Someone filled out your contact form on the Robo House website with the following data:

        Name: ${first} ${last}
        Phone: ${phone}
        Email: ${email}
        Service: ${service}
        Message: ${message}
        `,
      },
    ],
  };

  await fetch("https://api.sendgrid.com/v3/mail/send", {
    method: "POST",
    body: JSON.stringify(sendgridData),
    headers: {
      Authorization: `Bearer ${import.meta.env.SENDGRID_API_KEY}`,
      "Content-Type": "application/json",
    },
  });

  hasSubmitted = true;
}
---

<div class="mt-12">
  {
    hasSubmitted ? (
      <div>
        <p>Thanks! We will be in touch.</p>
      </div>
    ) : (
      <>
        <p>
          Reach out today to discuss the details of your upcoming project. I
          look forward to the opportunity to collaborate with you and bring your
          vision to life.
        </p>
        <form method="POST" class="max-w-md">
          <div class="flex flex-row w-full">
            <div class="flex flex-col">
              <label class="flex flex-row mt-6">First:</label>
              <input
                type="text"
                name="first"
                class="block text-neutral-950 p-2 outline-none mr-2"
              />
            </div>
            <div class="flex flex-col flex-grow">
              <label class="flex flex-row mt-6">Last:</label>
              <input
                type="text"
                name="last"
                class="block text-neutral-950 p-2 outline-none"
              />
            </div>
          </div>
          <label class="flex flex-col mt-6">
            Phone:
            <input
              type="text"
              name="phone"
              class="block text-neutral-950 p-2 outline-none"
            />
          </label>
          <label class="flex flex-col mt-6">
            Email:
            <input
              required
              type="email"
              name="email"
              class="block text-neutral-950 p-2 outline-none"
            />
          </label>
          <label class="flex flex-col mt-6">
            Service:
            <select
              required
              name="service"
              id="service"
              class="bg-gray-50 border p-2 border-gray-300 text-gray-900 text-sm outline-none block w-full"
            >
              <option value="website">Custom Website</option>
              <option value="seo">SEO & PPC</option>
              <option value="app">Custom Application</option>
              <option value="infrastructure">Infrastructure</option>
            </select>
          </label>
          <label class="flex flex-col mt-6">
            Message:
            <textarea
              required
              name="message"
              class="block text-neutral-950 p-2 outline-none"
            />
          </label>
          <button class="bg-red-600 color-neutral-50 py-2 px-4 rounded-full mt-6 hover:bg-red-700 duration-150">
            Submit
          </button>
        </form>
      </>
    )
  }
</div>
